.header {
  height: 5rem;
  .header__container {
    padding: 1rem 0;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__container--nav {
      ul {
        display: flex;
        align-items: center;
        li {
          button.sign-out-btn {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
          }
        }
        li + li {
          margin-left: 1rem;
        }
      }
    }
  }
}
